/* COLORS
PINK: #EB6A5C
NAVY: #2B3359
*/


/* GLOBAL */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgb(229, 237, 250);
}

.list-group-item {
  line-height: 2.5;
}

/* MATERIALIZE COMPONENTS */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* NAVBAR */
nav { background-color: #2B3359!important; }

#nav-logo {
  height: 60px;
  margin: 0 1rem 0 4rem;
}

#brand-text {
  font-size: 1rem;
}

/* PREMADE BUTTONS */

.ourButton {
  margin:0 auto!important;
  display:inline-block!important;
}

/* SEARCH BOX */

#search-box {
  background-color: #2B3359;
  padding: 4rem 0;
}

/* FOOTER */

#footer-logo {
  height: 100px;
}

.contributor {
  margin-right: 1rem;
  color: #fff;
}